<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Customer List</h2>
    <a routerLink="/add-customer" class="btn btn-primary btn-lg add-vaccination-button">Add Customer</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.customerId}}</td>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.street}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.state}}</td>
        <td>{{customer.zipCode}}</td>
        <td>
          <button class="btn btn-warning" [routerLink]="['/update-customer', customer.customerId]" style="margin-left: 10px">Update</button>
          <button class="btn btn-danger" (click)="deleteCustomer(customer.customerId)" style="margin-left: 10px">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
