/* .background-container {
    background-image: url('src/assets/04f088bc29734645b83e5e1eb921f81d (1).jpeg');
    background-size: cover;
    background-position: center;
    background: fixed;
    display: flex;
    flex-direction: column;
  } */