
<div class="background-container">
  <nav class="navbar">
    <a routerLink="/pets" routerLinkActive="active-link">PETS</a>
    <a routerLink="/pet-foods" routerLinkActive="active-link">PET-FOOD</a>
    <a routerLink="/grooming-services" routerLinkActive="active-link">GROOMING-SERVICES</a>
    <a routerLink="/customers" routerLinkActive="active-link">CUSTOMERS</a>
    <a routerLink="/vaccinations" routerLinkActive="active-link">VACCINATIONS</a>
    <a routerLink="/transactions" routerLinkActive="active-link">TRANSACTIONS</a>
  </nav>
  <router-outlet></router-outlet>
</div>
